.button-container {
  @include background-blue;
  @include color-white;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;

  &.secondary {
    @include background-grey;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }

  .button-face {
    display: table;
    width: 100%;
    height: 100%;
  }
  .button-face-caption {
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    text-align: center;
    vertical-align: middle;
  }
}
