$red: #ff0000;
$white: #ffffff;
$black: #1a1a1a;
$grey: #5B5B5B;
$gold: #B3A125;
$light-gold: #FFDE00;
$blue: #3B4CCA;
$tan: #FCF3DD;

@mixin background-white { background: $white; }
@mixin background-red { background: $red; }
@mixin background-gold { background: $gold; }
@mixin background-light-gold { background: $light-gold; }
@mixin color-white { color: $white; }

