$white: #ffffff;
$black: rgba(#1a1a1a, 0.9);
$grey: #bfbfbf;
$blue-grey: #ccd5d9;
$blue: #59bfff;
$red: #e62048;

@mixin background-white { background: $white; }
@mixin background-blue { background: $blue; }
@mixin background-grey { background: $grey; }
@mixin color-white { color: $white; }
@mixin color-red { color: $red; }

